In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv('Algerian_forest_fires_dataset_UPDATE.csv',header=1)
df[df.isnull().any(axis=1)]

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
122,Sidi-Bel Abbes Region Dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,14,07,2012,37,37,18,0.2,88.9,12.9,14.6 9,12.5,10.4,fire,NaN

In [4]:
df.loc[:122,'Region']=0
df.loc[122:,'Region']=1
df

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,0.0
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire,0.0
2,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,0.0
3,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire,0.0
4,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,26,09,2012,30,65,14,0,85.4,16,44.5,4.5,16.9,6.5,fire,1.0
242,27,09,2012,28,87,15,4.4,41.1,6.5,8,0.1,6.2,0,not fire,1.0
243,28,09,2012,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,not fire,1.0
244,29,09,2012,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,not fire,1.0
245,30,09,2012,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,not fire,1.0

In [5]:
df.dropna(inplace=True)
df.isnull().sum()

day            0
month          0
year           0
Temperature    0
 RH            0
 Ws            0
Rain           0
FFMC           0
DMC            0
DC             0
ISI            0
BUI            0
FWI            0
Classes        0
Region         0
dtype: int64

In [6]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [day, month, year, Temperature,  RH,  Ws, Rain , FFMC, DMC, DC, ISI, BUI, FWI, Classes  , Region]
Index: []

In [7]:
df=df.drop(123)
df.iloc[121:124]

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
121,30,09,2012,25,78,14,1.4,45,1.9,7.5,0.2,2.4,0.1,not fire,0.0
124,01,06,2012,32,71,12,0.7,57.1,2.5,8.2,0.6,2.8,0.2,not fire,1.0
125,02,06,2012,30,73,13,4,55.7,2.7,7.8,0.6,2.9,0.2,not fire,1.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 243 entries, 0 to 245
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          243 non-null    object
 1   month        243 non-null    object
 2   year         243 non-null    object
 3   Temperature  243 non-null    object
 4    RH          243 non-null    object
 5    Ws          243 non-null    object
 6   Rain         243 non-null    object
 7   FFMC         243 non-null    object
 8   DMC          243 non-null    object
 9   DC           243 non-null    object
 10  ISI          243 non-null    object
 11  BUI          243 non-null    object
 12  FWI          243 non-null    object
 13  Classes      243 non-null    object
 14  Region       243 non-null    float64
dtypes: float64(1), object(14)
memory usage: 30.4+ KB

In [9]:
df.columns=df.columns.str.strip()
df.columns

Index(['day', 'month', 'year', 'Temperature', 'RH', 'Ws', 'Rain', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes', 'Region'],
      dtype='object')

In [10]:
df[['day', 'month', 'year', 'Temperature', 'RH', 'Ws']]=df[['day', 'month', 'year', 'Temperature', 'RH', 'Ws']].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 243 entries, 0 to 245
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          243 non-null    int64
 1   month        243 non-null    int64
 2   year         243 non-null    int64
 3   Temperature  243 non-null    int64
 4   RH           243 non-null    int64
 5   Ws           243 non-null    int64
 6   Rain         243 non-null    object
 7   FFMC         243 non-null    object
 8   DMC          243 non-null    object
 9   DC           243 non-null    object
 10  ISI          243 non-null    object
 11  BUI          243 non-null    object
 12  FWI          243 non-null    object
 13  Classes      243 non-null    object
 14  Region       243 non-null    float64
dtypes: float64(1), int64(6), object(8)
memory usage: 30.4+ KB

In [11]:
for col in df.columns:
    if df[col].dtype=='object' and col!='Classes':
        df[col]=df[col].astype(float)

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 243 entries, 0 to 245
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          243 non-null    int64
 1   month        243 non-null    int64
 2   year         243 non-null    int64
 3   Temperature  243 non-null    int64
 4   RH           243 non-null    int64
 5   Ws           243 non-null    int64
 6   Rain         243 non-null    float64
 7   FFMC         243 non-null    float64
 8   DMC          243 non-null    float64
 9   DC           243 non-null    float64
 10  ISI          243 non-null    float64
 11  BUI          243 non-null    float64
 12  FWI          243 non-null    float64
 13  Classes      243 non-null    object
 14  Region       243 non-null    float64
dtypes: float64(8), int64(6), object(1)
memory usage: 30.4+ KB

In [12]:
df['Classes']=np.where(df['Classes'].str.contains('not fire'),0,1)

In [13]:
df

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
0,1,6,2012,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,0,0.0
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,0,0.0
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,0,0.0
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0.0,0,0.0
4,5,6,2012,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,26,9,2012,30,65,14,0.0,85.4,16.0,44.5,4.5,16.9,6.5,1,1.0
242,27,9,2012,28,87,15,4.4,41.1,6.5,8.0,0.1,6.2,0.0,0,1.0
243,28,9,2012,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,0,1.0
244,29,9,2012,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,0,1.0
245,30,9,2012,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,0,1.0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 243 entries, 0 to 245
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          243 non-null    int64
 1   month        243 non-null    int64
 2   year         243 non-null    int64
 3   Temperature  243 non-null    int64
 4   RH           243 non-null    int64
 5   Ws           243 non-null    int64
 6   Rain         243 non-null    float64
 7   FFMC         243 non-null    float64
 8   DMC          243 non-null    float64
 9   DC           243 non-null    float64
 10  ISI          243 non-null    float64
 11  BUI          243 non-null    float64
 12  FWI          243 non-null    float64
 13  Classes      243 non-null    int64
 14  Region       243 non-null    float64
dtypes: float64(8), int64(7)
memory usage: 30.4 KB

In [15]:
df.drop(columns=['day','month','year'],inplace=True)

In [16]:
df

,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
0,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,0,0.0
1,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,0,0.0
2,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,0,0.0
3,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0.0,0,0.0
4,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
241,30,65,14,0.0,85.4,16.0,44.5,4.5,16.9,6.5,1,1.0
242,28,87,15,4.4,41.1,6.5,8.0,0.1,6.2,0.0,0,1.0
243,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,0,1.0
244,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,0,1.0
245,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,0,1.0

In [17]:
from sklearn.model_selection import train_test_split

x=df.drop(columns=['FWI','Classes','Region'],axis=1)
y=df['FWI']
y_classifier=df['Classes']

x,y,y_classifier

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
x_train_classifier,x_test_classifier,y_train_classifier,y_test_classifier=train_test_split(x,y_classifier,test_size=0.2,random_state=42)

In [18]:
x_train,y_train,x_test,y_test

(     Temperature  RH  Ws  Rain  FFMC   DMC     DC   ISI   BUI
 115           29  65  19   0.6  68.3   5.5   15.2   1.5   5.8
 210           33  37  16   0.0  92.2  61.3  167.2  13.1  64.0
 160           38  43  13   0.5  85.0  13.0   35.4   4.1  13.7
 134           31  42  21   0.0  90.6  18.2   30.5  13.4  18.0
 84            34  64  14   0.0  88.9  40.5  171.3   9.0  50.9
 ..           ...  ..  ..   ...   ...   ...    ...   ...   ...
 106           24  82  15   0.4  44.9   0.9    7.3   0.2   1.4
 14            28  80  17   3.1  49.4   3.0    7.4   0.4   3.0
 92            25  76  17   7.2  46.0   1.3    7.5   0.2   1.8
 182           34  59  16   0.0  88.1  19.5   47.2   7.4  19.5
 102           30  77  21   1.8  58.5   1.9    8.4   1.1   2.4

 [194 rows x 9 columns],
 115     0.7
 210    30.3
 160     5.2
 134    16.7
 84     20.9
        ...
 106     0.0
 14      0.1
 92      0.1
 182    10.9
 102     0.3
 Name: FWI, Length: 194, dtype: float64,
      Temperature  RH  Ws  Rain  FFMC   DMC     DC   ISI   BUI
 24            31  64  15   0.0  86.7  14.2   63.8   5.7  18.3
 6             33  54  13   0.0  88.2   9.9   30.5   6.4  10.9
 154           28  58  18   2.2  63.7   3.2    8.5   1.2   3.3
 235           34  58  13   0.2  79.5  18.7   88.0   2.1  24.4
 241           30  65  14   0.0  85.4  16.0   44.5   4.5  16.9
 178           39  64   9   1.2  73.8  11.7   15.9   1.1  11.4
 218           28  75  16   0.0  82.2   4.4   24.3   3.3   6.0
 152           37  36  13   0.6  86.2  17.9   36.7   4.8  17.8
 9             28  79  12   0.0  73.2   9.5   46.3   1.3  12.6
 113           31  50  19   0.6  77.8  10.6   41.4   2.4  12.9
 45            28  76  21   0.0  72.6   7.0   25.5   0.7   8.3
 212           35  56  14   0.4  79.2  37.0  166.0   2.1  30.6
 230           32  51  13   0.0  88.7  16.0   50.2   6.9  17.8
 173           36  50  16   0.0  89.9  32.7   71.0   9.5  32.6
 82            36  55  18   0.0  89.1  33.5  151.3   9.9  43.1
 163           34  51  16   3.8  77.5   8.0    9.5   2.0   7.7
 239           26  49   6   2.0  61.3  11.9   28.1   0.6  11.9
 15            29  89  13   0.7  36.1   1.7    7.6   0.0   2.2
 66            32  75  14   0.0  86.4  13.0   39.1   5.2  14.2
 129           35  54  11   0.1  83.7   8.4   26.3   3.1   9.3
 33            33  78  17   0.0  80.1   4.6   18.5   2.7   5.7
 19            30  80  16   0.4  59.8   3.4   27.1   0.9   5.1
 108           31  52  14   0.0  87.7   6.4   24.3   6.2   7.7
 30            29  68  19   1.0  59.9   2.5    8.6   1.1   2.9
 188           38  35  15   0.0  93.8  23.0   42.7  15.7  22.9
 166           39  45  13   0.6  85.2  11.3   10.4   4.2  10.9
 10            31  65  14   0.0  84.5  12.5   54.3   4.0  15.8
 73            35  63  15   0.0  87.0  19.0   85.1   5.9  24.4
 93            22  86  15  10.1  30.5   0.7    7.0   0.0   1.1
 157           34  58  18   0.0  88.0  13.6   36.8   8.0  14.1
 111           28  84  18   0.0  83.8  13.5   49.3   4.5  16.0
 220           30  58  12   4.1  66.1   4.0    8.4   1.0   3.9
 25            31  64  18   0.0  86.8  17.8   71.8   6.7  21.6
 60            35  64  17   0.0  87.2  31.9  145.7   6.8  41.2
 18            31  55  16   0.1  79.9   4.5   16.0   2.5   5.3
 128           32  60  14   0.2  77.1   6.0   17.6   1.8   6.5
 96            29  75  16   0.0  80.8   3.4   24.0   2.8   5.1
 199           35  46  13   0.3  83.9  16.9   54.2   3.5  19.0
 139           29  87  15   0.4  47.4   4.2    8.0   0.2   4.1
 243           27  87  29   0.5  45.9   3.5    7.9   0.4   3.4
 75            36  55  13   0.3  82.4  15.6   92.5   3.7  22.0
 117           31  54  11   0.0  82.0   6.0   16.3   2.5   6.2
 112           31  55  11   0.0  87.8  16.5   57.9   5.4  19.2
 16            30  89  16   0.6  37.3   1.1    7.8   0.0   1.6
 198           37  40  13   0.0  91.9  22.3   55.5  10.8  22.3
 67            32  69  16   0.0  86.5  15.5   48.6   5.5  17.2
 170           32  81  17   0.0  84.6  21.1   42.3   4.7  20.9
 38            32  68  14   1.4  66.6   7.7    9.2   1.1   7.4
 183           36  56  16   0.0  88.9  23.8   57.1   8.2  23.8,
 24      8.4
 6       7.2
 154     0.5
 235     3.8
 241     6.5
 178     0.7
 218     2.5
 152     7.2
 9       0.9
 113     2.8
 45      0.4
 212     6.1
 230     9.8
 173    17.3
 82     20.4
 163     1.3
 239     0.4
 15      0.0
 66      6.8
 129     3.1
 33      1.7
 19      0.4
 108     5.9
 30      0.4
 188    20.9
 166     4.7
 10      5.6
 73     10.2
 93      0.0
 157     9.9
 111     6.3
 220     0.4
 25     10.6
 60     15.7
 18      1.4
 128     0.9
 96      1.7
 199     5.5
 139     0.1
 243     0.2
 75      6.3
 117     1.7
 112     8.3
 16      0.0
 198    15.7
 67      8.0
 170     7.7
 38      0.6
 183    13.2
 Name: FWI, dtype: float64)

Linear Regression with L2 Regularization(RidgeCV)

In [22]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import RidgeCV
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score


linear_model=make_pipeline(StandardScaler(),RidgeCV(cv=5))


linear_model.fit(x_train,y_train)

n=x_test.shape[0]
p=x_test.shape[1]

r2=r2_score(y_test,linear_model.predict(x_test))
adjusted_r2=1-(1-r2)*(n-1)/(n-p-1)

print(f'R2 Score: {r2}')
print(f'Adjusted R2 Score: {adjusted_r2}')
linear_model.predict(x_test)

R2 Score: 0.9677193576959421
Adjusted R2 Score: 0.9602699787026979

array([ 8.05557909,  7.17930836,  0.46992342,  6.13796814,  6.67674529,
        1.86287382,  2.38950251,  7.83360746,  2.02800314,  3.91671449,
        0.56609726, 10.34597721,  9.53282832, 16.2513843 , 18.78264166,
        2.224239  ,  2.26408525, -1.27285204,  6.38901272,  3.4240022 ,
        1.65617561,  0.1180318 ,  6.17648965,  0.07059079, 20.21555339,
        5.09193244,  5.71286463,  9.79257877, -1.04079435,  9.70753322,
        5.97503904,  0.33469961, 10.04734889, 14.93717501,  1.89080248,
        1.43591456,  1.66948525,  6.53118445, -0.72388567, -0.45918392,
        7.1766388 ,  2.09917398,  8.20275974, -1.40962847, 15.08225978,
        7.62034305,  7.63252657,  1.01360557, 12.52483713])

Logistic Regression (Binary Classifier)

In [20]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix,accuracy_score

logistic_model=make_pipeline(StandardScaler(),LogisticRegression())
logistic_model.fit(x_train_classifier,y_train_classifier)

confusion_matrix(y_test_classifier,logistic_model.predict(x_test_classifier))
accuracy_score=accuracy_score(y_test_classifier,logistic_model.predict(x_test_classifier))

print(f'Accuracy Score: {accuracy_score}')

Accuracy Score: 0.9387755102040817

In [21]:
import joblib

joblib.dump(linear_model,'linear_model.pkl')
joblib.dump(logistic_model,'logistic_model.pkl')

['logistic_model.pkl']